@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    background-color: #ffffff;
    color: #111827;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
